# ✅ Virtual environment
.venv/

# ✅ Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ✅ Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# ✅ System/IDE files
.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo

# ✅ Ruff/Black/Isort or other tool caches
.ruff_cache/
*.coverage

# ✅ Logs and outputs
logs/
*.log

# ✅ Model artifacts
models/
*.pkl
*.joblib

mlruns/

mlartifacts/

mlflow/

airflow_results/

# ✅ Pre-commit & pip tools
.uv/
.venv/
*.lock

/tests/fixtures/sample_obesity_data.csv
data/processed/obesity_clean.csv
uv.lock
